# DATABASE
##      Python & SQLite3

In order to use sqlite3, you have to do a few things to use it.

1. Open connection  
    - `Database != exist`  ::  Creates the database, then establishes the connection
        - Creating a connection to a database CREATES the database if it does not exist.
    - `Database  = exist`  ::  Establishes the connection
        - Creating a connection to a database ESTABLISHES the connection if the database exists.
    
2. Create cursor
    - `cursor = connection.cursor()`  
3. Cursor actions
    - `cursor.EXECUTE()`
    - `cursor.EXECUTEMANY()`
    - `cursor.FETCHALL()`  
4. Commit actions
    - `connection.commit()`  
5. Close connection
    - `connection.close()`

### More Info / Sources:

- https://www.sqlitetutorial.net/
    - sqlite tutorial
- https://likegeeks.com/python-sqlite3-tutorial/
    - python sqlite3 tutorial
- https://docs.python.org/3.9/library/sqlite3.html
    - python documentation for sqlite3
- https://stackoverflow.com/questions/41900593/csv-into-sqlite-table-python/41900956#41900956
    - .csv >> pandas >> sqlite3
- https://data.wprdc.org/datastore/dump/1e9b0886-5756-413a-b35f-89746cf56fd9
    - jail.csv (ACJ Daily Census Data - 06/2019)

In [1]:
''' 
    Open connection
    Close connection
'''

import sqlite3
from sqlite3 import Error
import os

# if the db exist, remove it (This is for testing purposes only)
if os.path.exists("Peer_Lesson.db"):
  os.remove("Peer_Lesson.db")

# try: create a connection ;; print the Error message if it doesn't
try:
    connection = sqlite3.connect('Peer_Lesson.db')
except Error:
    print(Error)
    
# close the connection to the database
connection.close()

In [2]:
'''
    CREATE A TABLE
    FILL IT WITH DATA
    READ ALL OF THE COLUMNS
    PRINT OUR READ SELECTION
'''
import sqlite3
from sqlite3 import Error
import os

if os.path.exists("Peer_Lesson.db"):
  os.remove("Peer_Lesson.db")
# connect to the database. if it doesn't exist, it does now
try:
    connection = sqlite3.connect('Peer_Lesson.db')
except Error:
    print(Error)

# create a cursor
cursor_object = connection.cursor()

# if the table exists, delete it (this is for repeat testing)
cursor_object.execute('DROP TABLE IF EXISTS Employees')

# if the table does not exist, create it with the following params:
#     "id:integer (primary key)"
#     "name:text"
#     "salary:real" (this is a float)
#     "department:text"
cursor_object.execute('CREATE table IF NOT EXISTS Employees(\
                        id integer PRIMARY KEY, name text, salary real, \
                        department text)')

# make a list of tuples containing our data
data = [(1, 'John', 10000, 'HR'), 
        (2, 'Dawn', 12000, 'IT'), 
        (3, 'Azerbaijan', 15000, 'HR'),
        (4, 'Ron', 12500, 'IT'),
        (5, 'Juan', 20000, 'Executive'),
        (6, 'Sean', 13000, 'Technician'),
        (7, 'Fawn', 13500, 'Technician'),
        (8, 'Nippon', 17500, 'Technician')]

# use executemany to cycle through the "data" and INSERT the values to the table
cursor_object.executemany('INSERT INTO Employees VALUES(?, ?, ?, ?)', data)

# commit changes to the table (Don't forget to do this!)
connection.commit()

# use the cursor to SELECT *(all columns) from our table
cursor_object.execute('SELECT * FROM Employees')

# use fetchall on our cursor to extract our SELECT action. Store it to a variable
rows = cursor_object.fetchall()

# iterate through the "rows" to print it.
for i in rows:
    print(i)
    
# close the connection to the database (MUST DO THIS!)
connection.close()

(1, 'John', 10000.0, 'HR')
(2, 'Dawn', 12000.0, 'IT')
(3, 'Azerbaijan', 15000.0, 'HR')
(4, 'Ron', 12500.0, 'IT')
(5, 'Juan', 20000.0, 'Executive')
(6, 'Sean', 13000.0, 'Technician')
(7, 'Fawn', 13500.0, 'Technician')
(8, 'Nippon', 17500.0, 'Technician')

In [3]:
'''
    CREATE A TABLE
    FILL IT WITH DATA
    READ only THE 'NAME' COLUMN
    PRINT OUR READ SELECTION
'''

import sqlite3
from sqlite3 import Error
import os

if os.path.exists("Peer_Lesson.db"):
  os.remove("Peer_Lesson.db")
# connect to the database. if it doesn't exist, it does now
try:
    connection = sqlite3.connect('Peer_Lesson.db')
except Error:
    print(Error)

# create a cursor
cursor_object = connection.cursor()

# if the table exists, delete it (this is for repeat testing)
cursor_object.execute('DROP TABLE IF EXISTS Employees')

# if the table does not exist, create it with the following params:
#     "id:integer (primary key)"
#     "name:text"
#     "salary:real" (this is a float)
#     "department:text"
cursor_object.execute('CREATE table IF NOT EXISTS Employees(\
                        id integer PRIMARY KEY, name text, salary real, \
                        department text)')

# make a list of tuples containing our data
data = [(1, 'John', 10000, 'HR'), 
        (2, 'Dawn', 12000, 'IT'), 
        (3, 'Azerbaijan', 15000, 'HR'),
        (4, 'Ron', 12500, 'IT'),
        (5, 'Juan', 20000, 'Executive'),
        (6, 'Sean', 13000, 'Technician'),
        (7, 'Fawn', 13500, 'Technician'),
        (8, 'Nippon', 17500, 'Technician')]

# use executemany to cycle through the "data" and INSERT the values to the table
cursor_object.executemany('INSERT INTO Employees VALUES(?, ?, ?, ?)', data)

# commit changes to the table (Don't forget to do this!)
connection.commit()

# use the cursor to SELECT *(all columns) from our table
cursor_object.execute('SELECT name FROM Employees')

# use fetchall on our cursor to extract our SELECT action. Store it to a variable
rows = cursor_object.fetchall()

# iterate through the "rows" to print it.
for i in rows:
    print(i)
    
# close the connection to the database (MUST DO THIS!)
connection.close()

('John',)
('Dawn',)
('Azerbaijan',)
('Ron',)
('Juan',)
('Sean',)
('Fawn',)
('Nippon',)

In [4]:
'''
    CREATE A TABLE
    FILL IT WITH DATA
    READ only THE 'name' & 'salary' COLUMNS
    READ only IF 'salary' IS GREATER THAN 13000
    PRINT OUR READ SELECTION
'''

import sqlite3
from sqlite3 import Error
import os

if os.path.exists("Peer_Lesson.db"):
  os.remove("Peer_Lesson.db")
# connect to the database. if it doesn't exist, it does now
try:
    connection = sqlite3.connect('Peer_Lesson.db')
except Error:
    print(Error)

# create a cursor
cursor_object = connection.cursor()

# if the table exists, delete it (this is for repeat testing)
cursor_object.execute('DROP TABLE IF EXISTS Employees')

# if the table does not exist, create it with the following params:
#     "id:integer (primary key)"
#     "name:text"
#     "salary:real" (this is a float)
#     "department:text"
cursor_object.execute('CREATE table IF NOT EXISTS Employees(\
                        id integer PRIMARY KEY, name text, salary real, \
                        department text)')

# make a list of tuples containing our data
data = [(1, 'John', 10000, 'HR'), 
        (2, 'Dawn', 12000, 'IT'), 
        (3, 'Azerbaijan', 15000, 'HR'),
        (4, 'Ron', 12500, 'IT'),
        (5, 'Juan', 20000, 'Executive'),
        (6, 'Sean', 13000, 'Technician'),
        (7, 'Fawn', 13500, 'Technician'),
        (8, 'Nippon', 17500, 'Technician')]

# use executemany to cycle through the "data" and INSERT the values to the table
cursor_object.executemany('INSERT INTO Employees VALUES(?, ?, ?, ?)', data)

# commit changes to the table (Don't forget to do this!)
connection.commit()

# use the cursor to SELECT *(all columns) from our table
cursor_object.execute('SELECT name, salary FROM Employees WHERE salary > 13000')

# use fetchall on our cursor to extract our SELECT action. Store it to a variable
rows = cursor_object.fetchall()

# iterate through the "rows" to print it.
for i in rows:
    print(i)
    
# close the connection to the database (MUST DO THIS!)
connection.close()

('Azerbaijan', 15000.0)
('Juan', 20000.0)
('Fawn', 13500.0)
('Nippon', 17500.0)