In [16]:
import pandas as pd
data = [['The Shining', 4.22, 1055507], ['IT', 4.24, 744104]]
df = pd.DataFrame(data, columns=['Title', 'Avg Rating', '# of Ratings'])
data2 = [['The Stand', 4.34, 579841]]
data3 = [['The Gunslinger', 3.95, 488617]]
df2 = pd.DataFrame(data2, columns=['Title', 'Avg Rating', '# of Ratings'])
df3 = pd.DataFrame(data3, columns=['Title', 'Avg Rating', '# of Ratings'])
df = df.append(df2)
df = df.append(df3)
print(df)
print()

            Title  Avg Rating  # of Ratings
0     The Shining        4.22       1055507
1              IT        4.24        744104
0       The Stand        4.34        579841
0  The Gunslinger        3.95        488617

In [18]:
data = []
data1 = ('The Shining', 4.22, 1055507)
data2 = ('IT', 4.24, 744104)
data.append(data1)
data.append(data2)
print(data, '\n')

[('The Shining', 4.22, 1055507)]
[('The Shining', 4.22, 1055507), ('IT', 4.24, 744104)]

In [20]:
import sqlite3
from sqlite3 import Error
import os

if os.path.exists("SK_GR.db"):
  os.remove("SK_GR.db")
# connect to the database. if it doesn't exist, it does now
try:
    connection = sqlite3.connect('SK_GR.db')
except Error:
    print(Error)
cursor_object = connection.cursor()
cursor_object.execute('DROP TABLE IF EXISTS Stephen_King')

cursor_object.execute('CREATE table IF NOT EXISTS Stephen_King(\
                        Title text PRIMARY KEY, AVG Rating real, Ratings real)')

cursor_object.executemany('INSERT INTO Stephen_King VALUES(?, ?, ?)', data)

connection.commit()

# use the cursor to SELECT *(all columns) from our table
cursor_object.execute('SELECT * FROM Stephen_King')

# use fetchall on our cursor to extract our SELECT action. Store it to a variable
rows = cursor_object.fetchall()

# iterate through the "rows" to print it.
for i in rows:
    print(i)
    
# close the connection to the database (MUST DO THIS!)
connection.close()

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'SK_GR.db'